In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd

# the relative path of the stroke csv dataset is saved into the variable data for ease of use
data = '../data/processed/stroke_copy_processed.csv'

# The data is read and saved in a variable (stroke)
stroke_processed = pd.read_csv(data)

stroke_processed = pd.DataFrame(stroke_processed)


stroke_processed

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_category,bmi_category,glucose_category
0,9046,Male,67.0,0,1,Yes,Private,Urban,229,37,formerly smoked,1,Senior,Obesity,Diabetic
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202,34,never smoked,1,Adult,Obesity,Diabetic
2,31112,Male,80.0,0,1,Yes,Private,Rural,106,32,never smoked,1,Senior,Obesity,Healthy
3,60182,Female,49.0,0,0,Yes,Private,Urban,171,34,smokes,1,Adult,Obesity,Pre-Diabetic
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174,24,never smoked,1,Senior,Healthy Weight,Pre-Diabetic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,84,27,never smoked,0,Senior,Overweight,Healthy
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125,40,never smoked,0,Senior,Obesity,Healthy
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,83,31,never smoked,0,Adult,Obesity,Healthy
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166,26,formerly smoked,0,Adult,Overweight,Pre-Diabetic
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85,26,Unknown,0,Adult,Overweight,Healthy

In [4]:
stroke_processed_copy = stroke_processed.copy()

In [5]:
stroke_only = stroke_processed_copy[stroke_processed_copy['stroke'] == 1]

stroke_only

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_category,bmi_category,glucose_category
0,9046,Male,67.0,0,1,Yes,Private,Urban,229,37,formerly smoked,1,Senior,Obesity,Diabetic
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202,34,never smoked,1,Adult,Obesity,Diabetic
2,31112,Male,80.0,0,1,Yes,Private,Rural,106,32,never smoked,1,Senior,Obesity,Healthy
3,60182,Female,49.0,0,0,Yes,Private,Urban,171,34,smokes,1,Adult,Obesity,Pre-Diabetic
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174,24,never smoked,1,Senior,Healthy Weight,Pre-Diabetic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,17739,Male,57.0,0,0,Yes,Private,Rural,85,37,Unknown,1,Adult,Obesity,Healthy
245,49669,Female,14.0,0,0,No,children,Rural,58,31,Unknown,1,Youth,Obesity,Low
246,27153,Female,75.0,0,0,Yes,Self-employed,Rural,79,29,formerly smoked,1,Senior,Overweight,Healthy
247,34060,Male,71.0,1,0,Yes,Self-employed,Rural,88,29,Unknown,1,Senior,Overweight,Healthy
248,43424,Female,78.0,0,0,Yes,Private,Rural,79,20,Unknown,1,Senior,Healthy Weight,Healthy

In [6]:
# Export the with_stroke dataset to a CSV file
# The file will be saved in the data directory
stroke_only.to_csv('../data/processed/patients_with_stroke.csv', index=False)
print("Dataset successfully exported to '../data/processed/patients_with_stroke.csv'")

Dataset successfully exported to '../data/processed/patients_with_stroke.csv'

In [6]:
nan_data = stroke_processed_copy['stroke'].isnull()

nan_data

0       False
1       False
2       False
3       False
4       False
        ...
5105    False
5106    False
5107    False
5108    False
5109    False
Name: stroke, Length: 5110, dtype: bool

In [ ]:
# Capture categorical columns (same method you use)
cat_cols = stroke_processed_copy.select_dtypes(include=['object', 'category']).columns.tolist()
print("Categorical columns detected:", cat_cols)

# Record unique values for each categorical column
uniques = {col: stroke_processed_copy[col].dropna().unique().tolist() for col in cat_cols}
for col, vals in uniques.items():
    print(f"\n{col} ({len(vals)}): {vals}")
    

# Perform one-hot encoding and keep a reference to the encoded columns
stroke_processed_ohe = pd.get_dummies(
    stroke_processed_copy,
    columns=cat_cols,
    dummy_na=False,
    dtype=np.uint8
)

# Build mapping: original column -> category value -> resulting one-hot column name
mapping_rows = []
for col in cat_cols:
    for val in uniques[col]:
        one_hot_col = f"{col}_{val}"
        mapping_rows.append({"original_col": col, "category_value": val, "one_hot_col": one_hot_col})

mapping_df = pd.DataFrame(mapping_rows)

# setting a 1-based index using an Index object (avoids static type issues)
mapping_df.index = pd.Index(range(1, len(mapping_df) + 1))
print("\nMapping (original column, category value -> one-hot column name):")
mapping_df.head(30)  # show all (adjust if many)

# save mapping to CSV for documentation:
# mapping_df.to_csv('../data/processed/one_hot_mapping.csv', index=False)
# print("\nSaved mapping to '../data/processed/one_hot_mapping.csv'")

Categorical columns detected: ['gender', 'ever_married', 'work_type', 'residence_type', 'smoking_status', 'age_category', 'bmi_category', 'glucose_category']

gender (3): ['Male', 'Female', 'Other']

ever_married (2): ['Yes', 'No']

work_type (5): ['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked']

residence_type (2): ['Urban', 'Rural']

smoking_status (4): ['formerly smoked', 'never smoked', 'smokes', 'Unknown']

age_category (4): ['Senior', 'Adult', 'Children', 'Youth']

bmi_category (4): ['Obesity', 'Healthy Weight', 'Overweight', 'Underweight']

glucose_category (4): ['Diabetic', 'Healthy', 'Pre-Diabetic', 'Low']

Mapping (original column, category value -> one-hot column name):

        original_col   category_value                     one_hot_col
1             gender             Male                     gender_Male
2             gender           Female                   gender_Female
3             gender            Other                    gender_Other
4       ever_married              Yes                ever_married_Yes
5       ever_married               No                 ever_married_No
6          work_type          Private               work_type_Private
7          work_type    Self-employed         work_type_Self-employed
8          work_type         Govt_job              work_type_Govt_job
9          work_type         children              work_type_children
10         work_type     Never_worked          work_type_Never_worked
11    residence_type            Urban            residence_type_Urban
12    residence_type            Rural            residence_type_Rural
13    smoking_status  formerly smoked  smoking_status_formerly smoked
14    smoking_status     never smoked     smoking_status_never smoked
15    smoking_status           smokes           smoking_status_smokes
16    smoking_status          Unknown          smoking_status_Unknown
17      age_category           Senior             age_category_Senior
18      age_category            Adult              age_category_Adult
19      age_category         Children           age_category_Children
20      age_category            Youth              age_category_Youth
21      bmi_category          Obesity            bmi_category_Obesity
22      bmi_category   Healthy Weight     bmi_category_Healthy Weight
23      bmi_category       Overweight         bmi_category_Overweight
24      bmi_category      Underweight        bmi_category_Underweight
25  glucose_category         Diabetic       glucose_category_Diabetic
26  glucose_category          Healthy        glucose_category_Healthy
27  glucose_category     Pre-Diabetic   glucose_category_Pre-Diabetic
28  glucose_category              Low            glucose_category_Low

In [22]:
stroke_processed_ohe

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,...,age_category_Senior,age_category_Youth,bmi_category_Healthy Weight,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,glucose_category_Diabetic,glucose_category_Healthy,glucose_category_Low,glucose_category_Pre-Diabetic
0,9046,67.0,0,1,229,37,1,0,1,0,...,1,0,0,1,0,0,1,0,0,0
1,51676,61.0,0,0,202,34,1,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,31112,80.0,0,1,106,32,1,0,1,0,...,1,0,0,1,0,0,0,1,0,0
3,60182,49.0,0,0,171,34,1,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,1665,79.0,1,0,174,24,1,1,0,0,...,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,80.0,1,0,84,27,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
5106,44873,81.0,0,0,125,40,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
5107,19723,35.0,0,0,83,31,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
5108,37544,51.0,0,0,166,26,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
5109,44679,44.0,0,0,85,26,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0

In [10]:
# one-hot as 0/1 integers
cat_cols = stroke_processed_copy.select_dtypes(include=['object', 'category']).columns.tolist()

if not cat_cols:
    print("No categorical columns to encode.")
    stroke_processed_copy.head()
else:
    stroke_processed_ohe = pd.get_dummies(
        stroke_processed_copy,
        columns=cat_cols,
        dummy_na=False,
        dtype=np.uint8      # <- produce integer 0/1 columns instead of booleans
    )
    print("Encoded columns:", cat_cols)
    print("Resulting shape:", stroke_processed_ohe.shape)
    stroke_processed_ohe.head()

Encoded columns: ['gender', 'ever_married', 'work_type', 'residence_type', 'smoking_status', 'age_category', 'bmi_category', 'glucose_category']
Resulting shape: (5110, 35)

In [11]:
stroke_processed_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              5110 non-null   int64
 1   age                             5110 non-null   float64
 2   hypertension                    5110 non-null   int64
 3   heart_disease                   5110 non-null   int64
 4   avg_glucose_level               5110 non-null   int64
 5   bmi                             5110 non-null   int64
 6   stroke                          5110 non-null   int64
 7   gender_Female                   5110 non-null   uint8
 8   gender_Male                     5110 non-null   uint8
 9   gender_Other                    5110 non-null   uint8
 10  ever_married_No                 5110 non-null   uint8
 11  ever_married_Yes                5110 non-null   uint8
 12  work_type_Govt_job              5110 non-null   uint8
 13  work_type_Never_worked          5110 non-null   uint8
 14  work_type_Private               5110 non-null   uint8
 15  work_type_Self-employed         5110 non-null   uint8
 16  work_type_children              5110 non-null   uint8
 17  residence_type_Rural            5110 non-null   uint8
 18  residence_type_Urban            5110 non-null   uint8
 19  smoking_status_Unknown          5110 non-null   uint8
 20  smoking_status_formerly smoked  5110 non-null   uint8
 21  smoking_status_never smoked     5110 non-null   uint8
 22  smoking_status_smokes           5110 non-null   uint8
 23  age_category_Adult              5110 non-null   uint8
 24  age_category_Children           5110 non-null   uint8
 25  age_category_Senior             5110 non-null   uint8
 26  age_category_Youth              5110 non-null   uint8
 27  bmi_category_Healthy Weight     5110 non-null   uint8
 28  bmi_category_Obesity            5110 non-null   uint8
 29  bmi_category_Overweight         5110 non-null   uint8
 30  bmi_category_Underweight        5110 non-null   uint8
 31  glucose_category_Diabetic       5110 non-null   uint8
 32  glucose_category_Healthy        5110 non-null   uint8
 33  glucose_category_Low            5110 non-null   uint8
 34  glucose_category_Pre-Diabetic   5110 non-null   uint8
dtypes: float64(1), int64(6), uint8(28)
memory usage: 419.3 KB

In [13]:
stroke_processed_ohe

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,...,age_category_Senior,age_category_Youth,bmi_category_Healthy Weight,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,glucose_category_Diabetic,glucose_category_Healthy,glucose_category_Low,glucose_category_Pre-Diabetic
0,9046,67.0,0,1,229,37,1,0,1,0,...,1,0,0,1,0,0,1,0,0,0
1,51676,61.0,0,0,202,34,1,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,31112,80.0,0,1,106,32,1,0,1,0,...,1,0,0,1,0,0,0,1,0,0
3,60182,49.0,0,0,171,34,1,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,1665,79.0,1,0,174,24,1,1,0,0,...,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,80.0,1,0,84,27,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
5106,44873,81.0,0,0,125,40,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
5107,19723,35.0,0,0,83,31,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
5108,37544,51.0,0,0,166,26,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
5109,44679,44.0,0,0,85,26,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0

In [17]:
# 1) Inspect dtypes for all columns (look for work_type)
print("Column dtypes:\n", stroke_processed_ohe.dtypes)

# 2) Show unique values for the column of interest (and all categorical-like columns)
cols_to_check = ['work_type_Govt', 'work_type_Private', 'work_type_Self-employed', 'work_type_children', 'work_type_Never_worked'] 
for c in cols_to_check:
    if c in stroke_processed_ohe.columns:
        print(f"\nUnique values for '{c}':\n", stroke_processed_ohe[c].unique())
    else:
        print(f"\nColumn '{c}' not found in the DataFrame.")

Column dtypes:
 id                                  int64
age                               float64
hypertension                        int64
heart_disease                       int64
avg_glucose_level                   int64
bmi                                 int64
stroke                              int64
gender_Female                       uint8
gender_Male                         uint8
gender_Other                        uint8
ever_married_No                     uint8
ever_married_Yes                    uint8
work_type_Govt_job                  uint8
work_type_Never_worked              uint8
work_type_Private                   uint8
work_type_Self-employed             uint8
work_type_children                  uint8
residence_type_Rural                uint8
residence_type_Urban                uint8
smoking_status_Unknown              uint8
smoking_status_formerly smoked      uint8
smoking_status_never smoked         uint8
smoking_status_smokes               uint8
age_category_Adult                  uint8
age_category_Children               uint8
age_category_Senior                 uint8
age_category_Youth                  uint8
bmi_category_Healthy Weight         uint8
bmi_category_Obesity                uint8
bmi_category_Overweight             uint8
bmi_category_Underweight            uint8
glucose_category_Diabetic           uint8
glucose_category_Healthy            uint8
glucose_category_Low                uint8
glucose_category_Pre-Diabetic       uint8
dtype: object

Column 'work_type_Govt' not found in the DataFrame.

Unique values for 'work_type_Private':
 [1 0]

Unique values for 'work_type_Self-employed':
 [0 1]

Unique values for 'work_type_children':
 [0 1]

Unique values for 'work_type_Never_worked':
 [0 1]